
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root{
    --noto-sans-font : font-family: 'Noto Sans', sans-serif; 
    --poppins-font :font-family: 'Poppins', sans-serif;
    --bg-col-1 :#FF7D95;
    --bg-col-2: #FF8371;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1{
    font-size: 2.5rem;
    font-family: var(--poppins-font);
    text-transform: capitalize;
    text-align: center;
}

body{
    background-image: linear-gradient(90deg,var(--bg-col-1), var(--bg-col-2));
    color: white;
    min-height: 100vh;
    font-family: var(--poppins-font);
}

header,
form{
    padding-top: 5rem;
    min-height: 15vh;
    display: flex;
    justify-content: center;
    align-self: center;
}

form button,
form input{
    padding: 1rem;
    border: none;
    outline: none;
    background: white;

}

form button{
    background:var(--bg-col-1);
    color: white;
    transition: all 0.25s ease-in-out;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}


button:hover{
    background: white;
    color: var(--bg-col-1);
    
}

form input{
    outline: none;
    border: none;
    background: white;
    width: 15rem;
}

select{
    appearance: none;
    border:none;
    outline: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
    width: 10rem;
    padding: 1rem;
 
}

.select{
    padding: 1rem;

}

select{
    color: var(--bg-col-2);
    font-family: var(--noto-sans-font); 
    font-weight: bolder;
   
}

option{
    appearance: none;
    border: none;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
}
select ::after{
    content: "\25BC";
}
.todo-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list{
    margin-top: 2rem;
    margin-left: -10rem;
    list-style: none;
    min-width: 30%;
}

.todo{
    margin: 1rem;
    background: white;
    color: black;
    font-family: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todo li{
    flex: 1;
}

.todo-item{
    margin: .7rem 1rem;
}

.trash-btn ,
.complete-btn{
    background: var(--bg-col-1);
    color: white;
    padding: 1rem;
    border: none;
    outline: none;
    cursor: pointer;
}

.complete-btn{
    background: #4FE656;
}

.trash-btn{
    background: #DB4233;
}

.completed{
    text-decoration: line-through;
    opacity: 0.5;
}