
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root{
 --noto-sans-font : font-family: 'Noto Sans', sans-serif; 
 --poppins-font :font-family: 'Poppins', sans-serif;
 --bg-col-1 :#FF7D95;
 --bg-col-2: #FF8371;

}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1{
    font-size: 2.5rem;
    font-family: var(--poppins-font);
    text-transform: capitalize;
    text-align: center;
}

body{
    background-image: linear-gradient(90deg,var(--bg-col-1), var(--bg-col-2));
    color: white;
    min-height: 100vh;
    font-family: var(--poppins-font);
}

header,
form{
    padding-top: 5rem;
    min-height: 15vh;
    display: flex;
    justify-content: center;
    align-self: center;
}

form button,
form input{
padding: 1rem;
border: none;
outline: none;
background: white;

}

form button{
    background:var(--bg-col-1);
    color: white;
    transition: all 0.25s ease-in-out;
    transition: all 0.2s ease-in-out;
}


button:hover{
    background: white;
    color: var(--bg-col-1);
    
}

form input{
    outline: none;
    border: none;
    background: white;
    width: 15rem;
}

select{
    appearance: none;
    border:none;
    outline: none;

}

.select{
    padding: 1rem;
}


.todo-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.todo-li{
    list-style: none;
}

.todo{
    min-width: 30%;
    background: white;
    font-size: 1.5rem;

}