@import 'config';
@import 'utilities';

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: $secondary-font;
  background-color: $bg-col;
  color:white;
}

.header{
 
  .clear{
    position: absolute;
    right: 20px;

    &:hover{
      cursor: pointer;
    }
  
  }

  
}

.todo-list{
  list-style: none;
  display:  grid;
  grid-gap: 1em;
  justify-content: center;
  .todo-item{
    height: 70px;
    width: 350px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    background-color: $secondary-color;
    
    p{
      text-align: center;
      text-transform: capitalize;
      margin: 0 10px;
    }
    i:hover{
      cursor: pointer;
      transform: scale(95%);
    }
  }
}

.add-item{
  position: absolute;
  bottom: 0;
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $secondary-color;
  // border-top: 5px solid gray;
  input{
    background-color: $secondary-color;
    text-align: center;
    border-style: none;
    font-size: 1.5rem;
    color:white;

    &:focus{
      outline:none;
    }
  }

}
